@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none !important;
}


::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.type-animation-green {
    font-size: 80px !important;
    font-family: 'VT323';
    color: rgb(0, 255, 10) !important;
}

.type-animation-white {
    font-size: 50px !important;
    font-family: 'VT323';
    color: white !important;
}

.type-animation-green-mobile {
    font-size: 40px !important;
    font-family: 'VT323';
    color: rgb(0, 255, 10) !important;
}

.type-animation-white-mobile {
    font-size: 20px !important;
    font-family: 'VT323';
    color: white !important;
}

.margin-navbar {
    padding-left: 100px !important;
    padding-right: 50px !important;
}

/* @media (max-width: 750px) {

    .type-animation-green {
        font-size: 50px !important;
    }

    .type-animation-white {
        font-size: 30px !important;
    }

    .navbar {
        width: 50px !important;
    }

    .menu {
        left: 50px !important;
    }
} */

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgb(0, 255, 10);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursor2 {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

.about {
    font-family: 'VT323';
    font-size: 25px;
    color: white;
    width: 70vw;
}

.navbar {
    position: fixed !important;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100px;
    border-right: 1px solid white;
    z-index: 2;
    background-color: black;
}

.navbar-mobile {
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    border-bottom: 1px solid white;
    width: 100%;
    z-index: 2;
    background-color: black;
}

.center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100px;
}

.menu {
    display: block;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    color: white;
}

.nav-item:hover {
    background-color: rgb(0, 255, 10);
    color: black !important;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.social-icon:hover {
    transform: scale(1.6);
    transition: all 0.5s ease-in-out;
}

.no-scroll {
    overflow: hidden;
}

.github-icon {
    color: white !important;
}

.github-icon:hover {
    color: black !important;
}